@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-size: 2.5rem;
  --cursor-size-inner: 1rem;
}

#cursor {
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.1s ease;
}

#cursor > div {
  width: var(--cursor-size-inner);
  height: var(--cursor-size-inner);
  background-color: #fff;
  border-radius: 50%;
}

.section {
  @apply mx-auto px-5 md:px-0 md:max-w-[720px] lg:max-w-[840px] xl:max-w-[960px];
}

.input {
  @apply border-none outline-none;
}

button {
  @apply flex gap-2 border-none outline-none focus:ring;
}

button.loading {
  @apply pointer-events-none;
}

.toastify {
  background: none;
  @apply bg-white text-[#530515] max-w-[calc(100%-30px)] md:max-w-[calc(50%-20px)];
}
